.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--light-text);
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .main-header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        padding-top: 10px;
    }

    .main-header nav ul.active {
        display: flex;
    }

    .main-header nav ul li {
        margin: 1rem 0;
    }

    .main-header {
        flex-direction: row;
    }

    .menu-toggle {
        display: flex;
    }
}